/node_modules
/public/*
/storage/*.key
!/public/index.php
!/public/favicon.ico
!/public/robots.txt
!/public/.htaccess
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
